doctype html
html(lang='cz', dir='ltr')
  head
    meta(charset='utf-8')
    //- link(rel='stylesheet', href='css/main2.css')
    //- link(rel='stylesheet', href='css/home.css')
    //- link(rel='stylesheet', href='css/settings.css')
    //- link(rel='stylesheet', href='css/animation.css')
    //- link(rel='stylesheet', href='css/createanketa.css')
    //- link(rel='stylesheet', href='css/edit.css')
    //- link(rel='stylesheet', href='css/results.css')
    link(rel='manifest', href='manifest.json')
    link(rel='stylesheet', href='css/main.css')
    link(rel='shorcut icon', href='../../img/icon.ico', type='image/x-icon')
    //- link(rel='stylesheet', href='../css/odometer-theme-default.css')
    //- link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css')
    //- link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css', integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU', crossorigin='anonymous')
    link(rel='stylesheet', href='css/fa.css')
    //- link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css', integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU', crossorigin='anonymous')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
    title
  body
    //- .menu-container
    //-   .menu-big-tile#big-tile1
    //-     p Electrification  
    //-     .menu-sub-container
    //-       each anketa, i in ankety
    //-         //- if (anketa.okruh == "Electrification")
    //-         .menu-flex-item
    //-           .menu-tile(onclick='selectAnketa("#{anketa._id}")')
    //-             span.menu-title #{anketa.name}
    //-   .menu-big-tile#big-tile2
    //-     p Automated driving
    //-     .menu-sub-container
    //-       each anketa, i in ankety
    //-         if (anketa.okruh == "Automated driving")
    //-           .menu-flex-item
    //-             .menu-tile(onclick='selectAnketa("#{anketa._id}")')
    //-               span.menu-title #{anketa.name}
    //- 
    //-   .menu-big-tile#big-tile3
    //-     p Connectivity & ecosystem
    //-     .menu-sub-container
    //-       each anketa, i in ankety
    //-         if (anketa.okruh == "Connectivity & ecosystem")
    //-           .menu-flex-item
    //-             .menu-tile(onclick='selectAnketa("#{anketa._id}")')
    //-               span.menu-title #{anketa.name}
    //-   .menu-big-tile#big-tile4
    //-     p Vehicle experience	  
    //-     .menu-sub-container
    //-       .menu-section-container(onclick='displaySection("HMI")')
    //-         .menu-section
    //-           span.menu-title HMI
    //-       .menu-section-container(onclick='displaySection("Comfort")')
    //-         .menu-section
    //-           span.menu-title Comfort
    //-       .menu-section-container(onclick='displaySection("Everyday use")')
    //-         .menu-section
    //-           span.menu-title Everyday use
    //-       .menu-section-container(onclick='displaySection("Impression")')
    //-         .menu-section
    //-           span.menu-title Impression
    //-       each anketa, i in ankety
    //-         //- if (anketa.okruh == "Vehicle experience")
    //-         .menu-flex-item
    //-           .menu-tile(onclick='selectAnketa("#{anketa._id}")')
    //-             span.menu-title #{anketa.name}
    //-   .menu-big-tile#big-tile5
    //-     p Enviroment & sustainability  
    //-     .menu-sub-container
    //-       each anketa, i in ankety
    //-         if (anketa.okruh == "Enviroment & sustainability")
    //-           .menu-flex-item
    //-             .menu-tile(onclick='selectAnketa("#{anketa._id}")')
    //-               span.menu-title #{anketa.name}
    //- 
    //- 
    //-   .menu-tile-container
    //-     .menu-tile-main#menu-tile1(onclick='expandTile(1)')
    //-       span.menu-title Electrification
    //-   .menu-tile-container
    //-     .menu-tile-main#menu-tile2(onclick='expandTile(2)')
    //-       span.menu-title Automated driving
    //-   .menu-tile-container
    //-     .menu-tile-main#menu-tile3(onclick='expandTile(3)')
    //-       span.menu-title Connectivity & ecosystem
    //-   .menu-tile-container
    //-     .menu-tile-main#menu-tile4(onclick='expandTile(4)')
    //-       span.menu-title Vehicle experience	
    //-   .menu-tile-container
    //-     .menu-tile-main#menu-tile5(onclick='expandTile(5)')
    //-       span.menu-title Enviroment & sustainability
    //- 
    //- 
    //- 
    //- 
    //-   .menu-info
    //-     p vypln anketu 
    //- 
    //- 
    //-   .menu-map
    //-     p mapa
    //- .menu-nav
    //-   span.menu-nav-item(onclick='menuHome()')
    //-     i.fas.fa-home
    //-   span.menu-nav-item(onclick='menuInfo()')
    //-     i.fas.fa-info
    //-   span.menu-nav-item(onclick='menuMap()')
    //-     i.fas.fa-map
    .menu-container
      .select-container
        .select-main-container
          .menu-tile#tile-1(onclick='expandTile(1)')
            span Electrification
          .menu-tile#tile-2(onclick='expandTile(2)')
            span Automated driving
          .menu-tile#tile-3(onclick='expandTile(3)')
            span Connectivity & ecosystem
          .menu-tile#tile-4(onclick='expandTile(4)')
            span Vehicle experience	
          .menu-tile#tile-5(onclick='expandTile(5)')
            span Enviroment & sustainability
          .menu-tile#tile-6(onclick='expandTile(6)')
            span Virtual Development
        
        .select-sub-container#sub-1
          h3 Electrification
          each anketa, i in ankety
            if (anketa.okruh == "Electrification")
              .menu-tile(onclick='selectAnketa("#{anketa._id}")')
                span #{anketa.name}
        .select-sub-container#sub-2
          h3 Automated driving
          each anketa, i in ankety
            if (anketa.okruh == "Automated driving")
              .menu-tile(onclick='selectAnketa("#{anketa._id}")')
                span #{anketa.name}
        .select-sub-container#sub-3
          h3 Connectivity & ecosystem
          each anketa, i in ankety
            if (anketa.okruh == "Connectivity & ecosystem")
              .menu-tile(onclick='selectAnketa("#{anketa._id}")')
                span #{anketa.name}
        .select-sub-container#sub-4
          h3 Vehicle experience	
          each anketa, i in ankety
            if (anketa.okruh == "Vehicle experience")
              .menu-tile(onclick='selectAnketa("#{anketa._id}")')
                span #{anketa.name}
        .select-sub-container#sub-5
          h3 Enviroment & sustainability
          each anketa, i in ankety
            if (anketa.okruh == "Enviroment & sustainability")
              .menu-tile(onclick='selectAnketa("#{anketa._id}")')
                span #{anketa.name}
        .select-sub-container#sub-6
          h3 Virtual Development
          each anketa, i in ankety
            if (anketa.okruh == "Virtual Development")
              .menu-tile(onclick='selectAnketa("#{anketa._id}")')
                span #{anketa.name}
        
      .info-container(style="display:none")
        //- h2 info
      .map-container(style="display:none")
        //- h2 map
      .nav-container
        .nav-item(onclick='menuHome()')
          i.fas.fa-home
        .nav-item(onclick='menuInfo()')
          i.fas.fa-info
        .nav-item(onclick='menuMap()')
          i.fas.fa-map
      
      script(src='js/jquery-3.3.1.min.js', type='text/javascript')    
      script(src='js/ajaxSubmit.js', type='text/javascript')    
      //- script(src='js/home.js', type='text/javascript')
      //- script(src='js/createanketa.js', type='text/javascript')
      script(src='js/menu.js', type='text/javascript')
      //- script(src='js/createquiz.js', type='text/javascript')
      //- script(type='text/javascript', src='../js/odometer.js')
      script(type='text/javascript', src='js/chart.js')
