doctype html
html(lang='cz', dir='ltr')
  head
    meta(charset='utf-8')
    //- link(rel='stylesheet', href='../../css/main2.css')
    //- link(rel='stylesheet', href='../../css/playA.css')
    link(rel='stylesheet', href='../../../css/main.css')
    //- link(rel='stylesheet', href='../css/bootstrap.css')
    //- link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css', integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU', crossorigin='anonymous')
    link(rel='stylesheet', href='../../../css/fa.css')
    title
  body
    script(type='text/javascript').
      var local_data =!{JSON.stringify(anketa)}
      var cluster = !{JSON.stringify(cluster)}
      var lang = !{JSON.stringify(lang)}
    script(type='text/javascript', src='../../../js/jquery-3.3.1.min.js')
    script(type='text/javascript' src='../../../js/playA.js')  
    div.content-container
      div.main-container
        //- div.play-container
        i.fa.fa-cog.admin-menu-icon(onclick="$('#admin-menu-window').show()")
        div.switch-cluster#admin-menu-window(style='display:none')
          h3.confirm-delete-label Chcete odejít do admin menu ?
          div.confirm-btn-container
            button.btn(onclick = "window.location.href = 'http://'+location.host") Ano
            button.btn(onclick = "$('#admin-menu-window').hide()") Ne
            
        div.play(style="display:none;")
          div.question
              h3.text-white#q #{anketa[0].questions[0].q} 
          div.play-container-main
            div.play-arrow
              //- img(src='../../img/Left.png', onclick='changeQuestion(-1);')#left
              i.fas.fa-caret-left(onclick='changeQuestion(-1);')#left
            div.play-img
              img#questionImg
            div.play-buttons-container
              button.btn-answer#answer1.btn(type="button", value=1, onclick='select(1);') Určitě Ano
              button.btn-answer#answer2.btn(type="button", value=2, onclick='select(2);') Spíše ano
              button.btn-answer#answer3.btn(type="button", value=3, onclick='select(3);') Nemohu rozhodnout
              button.btn-answer#answer4.btn(type="button", value=4, onclick='select(4);') Spíše ne
              button.btn-answer#answer5.btn(type="button", value=5, onclick='select(5);') Určitě ne
              div.note
                textarea.play-textarea(placeholder="Komentář ...")#note
                i(onclick='record();').fas.fa-microphone.note-button(style="display:none;")
                
            div.play-buttons-container-mps(style="display:none;")
              button.btn.btn-mps 0
              button.btn.btn-mps 1
              button.btn.btn-mps 2
              button.btn.btn-mps 3
              button.btn.btn-mps 4
              button.btn.btn-mps 5
              button.btn.btn-mps 6
              button.btn.btn-mps 7
              button.btn.btn-mps 8
              button.btn.btn-mps 9
              button.btn.btn-mps 10
            div.play-arrow
              //- img(src='../../img/Right.png', onclick='changeQuestion(1);')#right  
              i.fas.fa-caret-right(onclick='changeQuestion(1);')#right
        
          div.progressBar
            //- div.progress-bar-container
            //-   img(src='../../img/progress_car.png').progress-car
            //-   img(src='../../img/finish.png').progress-end
            div.progress-bar-container
              div.progressBar-background
                span.progress-bar-count 1/3
                div.progressBar-foreground
        
          
        
        div.desc
          div.desc-name
              h1.desc-title #{anketa[0].name} 
          div.desc-data
            div.desc-popis
              h2.desc-popis-title(style='display:none') Popis Ankety :
              p.desc-content #{anketa[0].desc}
            div.user-data
              div.user-data-form
                label.desc-input-label Jméno : 
                input(type='text', name='jmeno', placeholder='nepovinné').desc-input
                label.desc-input-label Příjmení : 
                input(type='text', name='prijmeni', placeholder='nepovinné').desc-input
                label.desc-input-label Věk : 
                input(type='number', name='age', min='1', max='100').desc-input
                label.desc-input-label Pohlaví : 
                select(type='text', name='sex').desc-input.desc-select
                  option(value='Muž') Muž
                  option(value='Žena') Žena
              //- div.btn-container
          div.desc-btn-start    
            button.desc-btn.btn.btn-confirm(onclick='start();') Začít
              
        div.end(style="display:none;")
          h1.end-text Děkujeme za spolupráci
          img(src='../../../img/poopeek_logo.png', class='poopeek-logo')
          button(onclick='reset();').end-bnt.btn.btn-confirm Spustit znovu
        div.lang-switch-container
          img(src='../../../img/cz_icon.png', onclick='switchLang("cz")').lang-switch-icon#lang-cz
          img(src='../../../img/en_icon.png', onclick='switchLang("en")').lang-switch-icon#lang-en
      //- script(type='text/javascript').
      //-   var local_data =!{JSON.stringify(anketa)}
      //-   var cluster = !{JSON.stringify(cluster)}
      //-   var lang = !{JSON.stringify(lang)}
    //- script(type='text/javascript', src='../../../js/jquery-3.3.1.min.js')
    //- script(type='text/javascript' src='../../../js/playA.js')  
